
<div class="container">
  
    <p id="notice"><%= notice %></p>
    
    <%= link_to 'New Article', new_article_path, class: 'btn btn-large btn-info white', id: 'newArticle' %>
       

       <div class="row">

         <% @articles.each do |article| %>

          <div class="col-md-4 ">
            <div class="holder">
                <p> Name: <%= article.name %></p>
                <p> Description: <%= article.description %></p>
                <p> Price: <%= article.price %></p>
                <p> Total in Shelf: <%= article.total_in_shelf %></p>
                <p> Total in Vault <%= article.total_in_vault %></p>
                <p> Store Name: <%= article.store.name %></p>

                <p><%= link_to 'Show', article , class: 'btn btn-large btn-success white' %></p>
                <p><%= link_to 'Edit', edit_article_path(article) , class: 'btn btn-large btn-success white' %></p>
                <p><%= link_to 'Destroy', article,  method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-large btn-danger white' %></p> 
            </div>
           
           </div>

         <% end %>

       </div>

   
   
</div>

