<div class="container">
  
    <p id="notice"><%= notice %></p>
    <%= link_to 'New Store', new_store_path, class: 'btn btn-large btn-info white' %>
       

       <div class="row">

         <% @stores.each do |store| %>

          <div class="col-md-4 ">
            <div class="holder">
                <p>Store Name: <%= store.name %></p>
                <p>Store Address: <%= store.address %></p>

                <p><%= link_to 'Show', store , class: 'btn btn-large btn-success white' %></p>
                <p><%= link_to 'Edit', edit_store_path(store) , class: 'btn btn-large btn-success white' %></p>
                <p><%= link_to 'Destroy', store,  method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-large btn-danger white' %></p> 
            </div>
           
           </div>

         <% end %>

       </div>

   
   
</div>











